@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-goyaz-primary: #04C55F;
  --color-goyaz-secondary: #00C65E;
  --color-goyaz-dark: #024344;
  --color-goyaz-darker: #014245;
  --color-goyaz-yellow: #FABD3B;
  --color-goyaz-yellow-light: #FFD759;
  --color-goyaz-gray: #4B5563;
  --color-goyaz-gray-light: #E5E7EB;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
